<div class="text-center pb-3 border-bottom">
  <h3 mat-dialog-title class="text-muted my-0">Add Study Abroad Info</h3>
</div>

<mat-dialog-content [formGroup]="form">
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>School</mat-label>
      <mat-select formControlName="school" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let school of schoolOptions" [value]="school">
          {{ school.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group class="d-flex flex-column my-3" aria-label="Select an option" formControlName="status">
      <label>Degree</label>
      <mat-radio-button *ngFor="let degree of degreeOptions" [value]="degree">
        {{ degree.displayName }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label>Major</mat-label>
      <input matInput formControlName="major" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start year</mat-label>
      <mat-select formControlName="studyAbroadCountry" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let year of startYearOptions" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Graduate year</mat-label>
      <mat-select formControlName="studyAbroadCountry" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let year of endYearOptions" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</mat-dialog-content>

<div mat-dialog-actions class="d-flex justify-content-center mb-4">
  <button mat-raised-button color="primary" (click)="save()">Add Study Abroad</button>
  <button mat-raised-button color="basic" (click)="cancel()">Cancel</button>
</div>
