<!-- "add Work add Education" -->

    <!-- Button trigger modal for Work-->
    <span data-toggle="modal" data-target="#addWork" data-toggle="tooltip" data-placement="top"
      data-container="body" data-animation="true">
      <a class="icon icon-sm icon-shape icon-shape-gray shadow rounded-circle" type="button"
        data-toggle="tooltip" data-original-title="Add Work">
        <i class="ni ni-briefcase-24 text-gray"></i>
      </a>
    </span>
    <!-- Button trigger modal for Education-->
    <span class="ml-2" data-toggle="modal" data-target="#addEducation" data-toggle="tooltip"
      data-placement="top" data-container="body" data-animation="true">
      <a class="icon icon-sm icon-shape icon-shape-gray shadow rounded-circle" type="button"
        data-toggle="tooltip" data-original-title="Add Education">
        <i class="ni ni-hat-3 text-gray"></i>
      </a>
    </span>

