<header>
  <app-navbar-non-auth></app-navbar-non-auth>
</header>

<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container pt-lg-md">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <app-base-inquiry-form></app-base-inquiry-form>
      </div>
    </div>
  </div>
</section>
