<header>
  <app-navbar-non-auth></app-navbar-non-auth>
</header>

<main>
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-3  text-white">Study abroad for everyone<span>Alumate helps you to find people who can
                help
              </span></h1>
            <p class="lead  text-white">Join your mates and alumni on Alumate</p>
            <div class="btn-wrapper">
              <a routerLink="/auth/signup" class="btn btn-info btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--text">Get started</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="assets/img/theme/promo-1.png" class="img-fluid floating" alt="image">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Why Alumate?</h3>
            <p>Professional mutual support network for the ambitious people that have a spirit of challenge.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Connect with mates and alumni by school or ideal career</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-sound-wave"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Gather latest, concrete and live information interactively</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-spaceship"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Overcome challenges and succeed in the study abroad</h6>
                  </div>
                </div>
              </li>
            </ul>
            <div class="btn-wrapper">
              <!-- {% if not user.is_authenticated %} -->
              <!-- <a href="{% url 'auth:register' %}" class="btn btn-info btn-icon mb-3 mb-sm-0"> -->
              <a href="#" class="btn btn-info btn-icon mb-3 mb-sm-0">
                <!-- <span class="btn-inner--icon"><i class="fa fa-code"></i></span> -->
                <span class="btn-inner--text">Join Alumate</span>
              </a>
              <!-- {% endif %} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Who is Alumate for?</h2>
          <p class="lead text-white">Anyone looking to navigate the dream ahead of studying abroad.</p>
          <br><br>
          <blockquote class="blockquote">
            <p class="text-white">Where there's a will, there's a way</p>
            <footer class="blockquote-footer text-white">Abraham Lincoln</footer>
          </blockquote>
          <br>

        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Preparing students</h5>
          <p class="text-white mt-3">Make the most of the peer to peer collective inteligence to drive the plan and
            milestones to your goal.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Current students</h5>
          <p class="text-white mt-3">Alumni as role models, tutors and mentors are your lighthouse. Find the best path to
            maximize your experience during the studying abroad and grab your dream career and success.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Alumni</h5>
          <p class="text-white mt-3">Your experience is mightier than sword. Support your juniors and connect with other
            alumni. Good friendship over various networks enrich your life and career.</p>
        </div>
      </div>
      <div class="btn-wrapper text-center mt-5">
        <!-- {% if not user.is_authenticated %} -->
        <a routerLink="/auth/signup" class="btn btn-info btn-icon mb-3 mb-sm-0">
          <!-- <span class="btn-inner--icon"><i class="fa fa-code"></i></span> -->
          <span class="btn-inner--text">Join Alumate</span>
        </a>
        <!-- {% endif %} -->
      </div>

    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

  </section>

  <section>
    <div class="container pt-100 pb-100 pb-0 pb-md-4">
      <div class="row">
        <div id="carouselExampleControls" class="carousel slide carousel-team pointer-event">
          <div class="carousel-inner" style="height: auto;">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-5 p-5">
                    <div class="p-4">
                      <img class="rounded shadow transform-perspective-left img-center"
                        style="object-fit:cover; width:100%;" src="assets/img/theme/kareya-saleh.jpg"
                        alt="First slide">
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="wrapper p-md-0">
                      <h1 class="card-title">Find people that encourage you</h1>
                      <div class="lead">
                        Network, connect, share information and be motivated by the people that encourage you to keep
                        challenging.
                      </div>
                      <h4 class="card-title">Kareya Saleh</h4>
                      <ul class="list-unstyled mb-0">
                        <li class="py-1">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-info mr-3">
                                <i class="ni ni-hat-3"></i>
                              </div>
                            </div>
                            <div>
                              <p class="mb-1">Preparing student</p>
                            </div>
                          </div>
                        </li>
                        <li class="py-1">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-success mr-3">
                                <i class="fa fa-university"></i>
                              </div>
                            </div>
                            <div>
                              <p class="mb-1">Oxford University</p>
                            </div>
                          </div>
                        </li>
                        <li class="py-1">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-danger mr-3">
                                <i class="ni ni-chart-bar-32"></i>
                              </div>
                            </div>
                            <div>
                              <p class="mb-1">MBA</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <div class="btn-wrapper mt-5">
                        <a routerLink="/auth/signup" class="btn btn-info btn-icon mb-3 mb-sm-0">
                          <!-- <span class="btn-inner--icon"><i class="fa fa-code"></i></span> -->
                          <span class="btn-inner--text">Join Alumate</span>
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-5 p-5">
                    <div class="p-4">
                      <img class="rounded shadow transform-perspective-left img-center"
                        style="object-fit:cover; width:100%;" src="assets/img/theme/fezbot.jpg" alt="First slide">
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="wrapper p-md-0">
                      <h1 class="card-title">Find people that navigate you</h1>
                      <div class="lead">
                        Ask any problems that you face to current students and alumnis. As they experienced the similar
                        problems, they can lead you to the right direction.
                      </div>
                      <h4 class="card-title">Lucy</h4>
                      <ul class="list-unstyled mb-0">
                        <li class="py-1">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-info mr-3">
                                <i class="ni ni-hat-3"></i>
                              </div>
                            </div>
                            <div>
                              <p class="mb-1">Current student</p>
                            </div>
                          </div>
                        </li>
                        <li class="py-1">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-success mr-3">
                                <i class="fa fa-university"></i>
                              </div>
                            </div>
                            <div>
                              <p class="mb-1">Harvard University</p>
                            </div>
                          </div>
                        </li>
                        <li class="py-1">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-danger mr-3">
                                <i class="ni ni-chart-bar-32"></i>
                              </div>
                            </div>
                            <div>
                              <p class="mb-1">Public Health</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <div class="btn-wrapper mt-5">
                        <a routerLink="/auth/signup" class="btn btn-info btn-icon mb-3 mb-sm-0">
                          <span class="btn-inner--text">Join Alumate</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="ni ni-bold-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="ni ni-bold-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer-white></app-footer-white>
