<footer class="footer">
  <div class="container">
    <div class="row row-grid align-items-center mb-5">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Thank you for joining us!</h3>
        <h4 class="mb-0 font-weight-light" >Please answer the <a target="_blank" href="https://s.surveyplanet.com/AEvn9SYdt">questionnaire</a>,</h4>
        <h4 class="mb-0 font-weight-light" >and get in touch on Slack.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a href="https://join.slack.com/t/alumateimprove/shared_invite/zt-dwqsrxqc-glw9hVPSHZHnzb54JmmzRA" data-toggle="tooltip" data-original-title="Join our channel">
          <button class="btn btn-slack rounded-circle p-2" style="width: 40px; height: 40px">
            <i class="fa fa-slack"></i>
          </button>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          © 2020 <a href="/" target="_blank">Alumate</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
              <a href="/" class="nav-link" target="_blank">Alumate</a>
          </li>
          <!-- <li class="nav-item">
            <a href="" class="nav-link" target="_blank">About Us</a>
          </li> -->
          <li class="nav-item">
            <a routerLink="/contact" class="nav-link" target="_blank">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
