<header>
  <app-navbar-non-auth></app-navbar-non-auth>
</header>

<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-7 col-lg-5">
          <div class="card bg-secondary shadow border-0 mb-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3"><small>Sign up with</small></div>
              <div class="text-center">
                <a href="/account/google/login/?process=login" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img alt="image" src="assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign up with credentials</small>
              </div>

              <app-signup-form (signupCompleted)="navigateToHome()"></app-signup-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer-dark></app-footer-dark>
