<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of inputItems" [selectable]="selectable" [removable]="removable"
      (removed)="remove(item)">
      {{ item }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>

    <input placeholder="Add tags..." #itemsInput [formControl]="formControl"
      [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      {{ item }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
