.mat-card {
  margin-bottom: 30px;
}

.mat-card[data-animation=zooming] {
  transition: all .3s cubic-bezier(.2, 1, .22, 1);
  -webkit-transition: all .3s cubic-bezier(.2, 1, .22, 1);
}

.mat-card[data-animation=zooming]:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  z-index: 2;
}

.mat-card-actions {
  padding-left: 10px;
}
