app-profile-image-edit-btn[_ngcontent-c1] {
  position: absolute;
  top: 70px;
  left: 50%;
  margin: auto;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 3;
}

.goal-chip {
  color: #fff;
  background-color: #2dce89;
}

.study-interest-chip {
  color: #fff;
  background-color: #f5365c;
}
