<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent headroom">
  <div class="container">
    <a class="navbar-brand mr-lg-5" routerLink="/">
      <img src="assets/img/brand/logo_text_alumate_dark.png" style="width: 128px; height: auto;">
    </a>
    <div class="navbar-collapse collapse" id="navbar_global">
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li>
          <a routerLink="/auth/login" class="nav-link">
            <span class="nav-link-inner--text">Log in</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a routerLink="/auth/signup" class="nav-link">
            <span class="nav-link-inner--text">Join now</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
