<app-inquiry-detail-list-tag [labelName]="'Current Status'" [tags]="statusTags">
</app-inquiry-detail-list-tag>

<app-inquiry-detail-list-tag [labelName]="'Home Country'" [tags]="homeCountryTags">
</app-inquiry-detail-list-tag>

<app-inquiry-detail-list-tag [labelName]="'Study Abroad Country'" [tags]="studyAbroadCountryTags">
</app-inquiry-detail-list-tag>

<app-inquiry-detail-list-tag [labelName]="'School'" [tags]="schoolTags">
</app-inquiry-detail-list-tag>

<app-inquiry-detail-list-tag [labelName]="'Major'" [tags]="majorTags">
</app-inquiry-detail-list-tag>

<app-inquiry-detail-list-tag [labelName]="'School Start Year'" [tags]="schoolStartYearTags">
</app-inquiry-detail-list-tag>

<app-inquiry-detail-list-tag [labelName]="'School End Year'" [tags]="schoolEndYearTags">
</app-inquiry-detail-list-tag>

<!-- living city tags -->
