<form>
  <mat-form-field>
    <mat-label>Reply</mat-label>
    <textarea matNativeControl [formControl]="body" rows="5"></textarea>
  </mat-form-field>

  <div class="text-right my-4 ml-auto">
    <div class="btn p-0 upload-btn-wrapper align-middle">
      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
      <button type="button" class="btn btn-icon btn-transparent rounded" (click)="fileInput.click()">
        <span class="btn-inner--icon icon-big"><i class="fa fa-image"></i></span>
      </button>
    </div>
    <button type="submit" class="btn btn-sm btn-primary btn-icon" (click)="send()">
      <span class="btn-inner--icon icon-big"><i class="ni ni-send"></i></span>
      <span class="btn-inner--text">Send</span>
    </button>
  </div>
</form>
